# --- CONSTANTES GLOBALES Y FÍSICA ---
BASE_ACTION_PROB=0.01
FATIGUE_MAX_PENALTY=0.5
FATIGUE_SCALE=150.0
FATIGUE_BASE_RATE=0.04


# --- RESOLUCIÓN DE DUELOS (STATS MATEMÁTICOS) ---
RES_PASS_SAFE_TECH=0.7
RES_PASS_SAFE_COMP=0.3
RES_PASS_SAFE_DEF_POS=0.2

RES_PASS_RISK_TECH=0.9
RES_PASS_RISK_VIS=0.4
RES_PASS_RISK_COMP=0.2
RES_PASS_RISK_DEF_ANT=0.4
RES_PASS_RISK_DEF_POS=0.3

RES_DRIBBLE_TECH=0.6
RES_DRIBBLE_PACE=0.4
RES_DRIBBLE_DEF_TACK=0.6
RES_DRIBBLE_DEF_PACE=0.4

RES_HOLD_STR=0.7
RES_HOLD_COMP=0.3
RES_HOLD_DEF_STR=0.5
RES_HOLD_DEF_MARK=0.3

RES_SHOOT_TECH=0.6
RES_SHOOT_COMP=0.4
RES_SHOOT_LONG_PENALTY=0.7
RES_GK_REF=0.6
RES_GK_POS=0.4